<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="CPCConnectionString" connectionString="Data Source=APCOCPC16\SA;Initial Catalog=CPC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CPCConnectionString2" connectionString="Data Source=&quot;10.167.78.246, 1433&quot;;Initial Catalog=CPC;Persist Security Info=True;User ID=sa;Password=password@123"
            providerName="System.Data.SqlClient" />
        <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
